.NotificationBar{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.linkToShop{
    text-decoration: none;
    color: blue;
    position: relative;
    &:after{
        content: "";
        width: 0%;
        height: 1px;
        background-color: blue;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: linear 0.3s;
    }
    &:hover{
        &::after{
            width: 100%;
        }
    }
    
}